.am-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  box-shadow: 1px 3px 10px #f1f1f1;
  width: 100%;
}

.am-title {
  color: var(--font-primary);
  text-align: left;
  font-size: 22px;
  letter-spacing: 0.03em;
  padding: 20px;
  text-transform: uppercase;
}
