.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  min-height: 60px;
  position: sticky;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--font-primary);
}

.menu-nav {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
