.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  color: var(--font-primary);
  background-color: var(--primary-color);
  padding: 15px;
}
